@import '../../../styles/_var.scss';

//Add event button
.c-calendar__btn-add-event {
  display: flex;
  border-radius: 16px;
  padding: 8px;
  background-color: $orange;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
    color: $white;
    transition: all 0.1s;
  }
}
