@import "src/styles/_var.scss";
.ContentHomework {
    // padding: 20px;
    // font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
    // margin-bottom: 16px;
    // text-align: justify;
    // color: gray;
    min-height: 300px;
    padding-top: 15px;
    font-family: $text-font;
    font-size: 16px;
    color: $dark-text;
    width: 75%;
    margin: 0 auto;
}
.d-rating__line {
    color: #202b52;
    font-size: 36px;
    font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
    text-align: center;
    margin-top: 25px;
    letter-spacing: 2px;
    line-height: 48px;
    font-weight: bold;
    padding: 50px 0;
}
.d-rating__digit {
    font-weight: bold;
    text-shadow: 0px 0px 5px #ff0000;
}
.d-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 60px;
}
.d-nav__left, .d-nav__right {
    text-decoration: none;
    font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
    font-size: 23px;
    color: #808080;
}

.d-nav__left:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid transparent;
    margin-right: 10px;
    border-right: 10px solid #cbcbcb;
}
.d-nav__right:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid transparent;
    margin-left: 10px;
    border-left: 10px solid #cbcbcb;
}
.d-rating__choose {
    width: 70%;
    font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
    font-size: 13px;
    text-transform: none;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 4px 16px;
    margin: 0 auto;
}
.d-rating__done {
    border: none;
    font-family: "BebasNeueRegular", "Arial", sans-serif;
    font-size: 13px;
    color: #fff;
    line-height: 24px;
    text-transform: uppercase;
    width: 112px;
    height: 24px;
    background: #ff6c00;
    border-radius: 10px;
}
.d-comments__title {
    width: 70%;
    font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
    font-size: 13px;
    text-transform: none;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 4px 16px;
    margin: 0 auto;
}
.d-comments__send {
    border: none;
    font-family: "BebasNeueRegular", "Arial", sans-serif;
    font-size: 13px;
    color: #fff;
    line-height: 24px;
    text-transform: uppercase;
    width: 112px;
    height: 24px;
    background: #ff6c00;
    border-radius: 10px;
}
.d-homework {
    padding: 32px;
}

.d-comments {
    width: 60%;
    margin: 200px auto 0;
}