@import "../../../../styles/var";

.c-accordion-menu__submenu {
    /* by default hide all submenus */
    display: none;
    padding: 4px;
    padding-bottom: 16px;
    font-family: $text-font;
}    