.counter__numb {
    display: flex;
    justify-content: center;
    min-width: 26px;
}

.counter__likes {
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center;
    min-width: 26px;
}