@import "../../../../styles/var";

.c-accordion-menu__submenu-item {
      position: relative;
      display: flex;
      padding-left: 16px;
      font-size: 16px;
      color: $light-text;
      cursor: pointer;

      &::before {
        position: absolute;
        left: 0;
        width: 14px;
        height: 14px;
        //background: url(../img/link-arrow-right.svg) no-repeat;
        content: '';

        &:hover {
          text-decoration: underline solid $grey-pholder;
        }
      }
      &:hover {
        text-decoration: underline solid $grey-pholder;
      }
}