@import '../../../styles/_var.scss';

//Number of a day EACH-DAY
.c-calendar__day-num {
  display: flex;
  flex-direction: column;
  flex-basis: 14.285714286%;
  height: 88px;
  padding: 8px;
  border-top: 1px solid $dark-text;
  border-right: 1px solid $dark-text;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: $light-gray;
    opacity: 0.5;
    transition: all 0.25s;
  }
}
